<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="/">Node App</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link <%= uri === '/' ? 'active' : '' %>"
						aria-current="page"
						href="/"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link <%= uri === '/about' ? 'active' : '' %>"
						href="/about"
						>About</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link <%= uri === '/contact' ? 'active' : '' %>"
						href="/contact"
						>Contact</a
					>
				</li>
				<li class="nav-item">
					<a
						href="/register"
						class="nav-link <%= uri === '/register' ? 'active' : '' %>"
						>Register</a
					>
				</li>
				<li class="nav-item">
					<a
						href="/login"
						class="nav-link <%= uri === '/login' ? 'active' : '' %>"
						>Login</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
